{% extends '../webProject_app/base.html' %} <!-- hereda de la plantilla base.html-->


{% load static %}

{% block css_file %}

{{ block.super }}
    <link href="{% static context.carrito %}" rel="stylesheet">
    <link href="{% static context.subNav %}" rel="stylesheet">

{% endblock %}

{% block content %}
    {% include 'tienda/widgets/widget_subNav.html' %}
        {% if total_carro %}
            {% include 'tienda/widgets/widget_carro.html' %}
        {% else %}
            <div class="empty-cart">
                <h2>Tu carrito está vacío.</h2>
                <p>Por favor visita nuestra tienda para ver nuestros productos.</p>
                <a href="{% url 'Tienda' %}">Ir a la tienda</a>
            </div>
    {% endif %}
    
{% endblock %}