{% extends '../webProject_app/base.html' %} <!-- hereda de la plantilla base.html-->


{% load static %}

{% block css_file %}

{{ block.super }}
    <link href="{% static context.tienda %}" rel="stylesheet">
    <link href="{% static context.subNav %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="sub_menu">
        <div class="dropdown">
            <select onchange="location = this.value;">
                <option>Filtrar categorías...</option>
                {% for categoria in categorias %}
                    {% if categoria.id == categoria_id %}
                        <option value="{% url 'categoria' categoria.id %}" selected>{{ categoria.nombre }}</option>
                    {% else %}
                        <option value="{% url 'categoria' categoria.id %}">{{ categoria.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="carrito">
            <a href="{% url 'Carrito' %}">
                <ion-icon name="cart-outline"></ion-icon>
                <span>{{importe_total_carro}}</span>
            </a>
        </div>


        <form method="get" action="{% url 'buscar' %}">
            <div class="search_bar">
                <input type="search" name="search" id="search" placeholder="Buscar...">
            </div>
        </form>
    </div>


    <div class="productos_container">
        {% for producto in productos %}

            <div class="product-card">
                <div class="product-header">
                    <img src="{{ producto.imagen.url }}" alt="Nombre del producto">
                    <a href="{% url 'view_product' producto.id %}"class='viewproduct'><h3>{{ producto.nombre }}</h3></a>
                   
                </div>
                <!-- <p>{{ producto.descripcion }}</p> -->
                <div class="product-body">
                    <p>${{ producto.precio }}</p>
                    <div class="cat-stock">
                        <a href="#" class="postcategory"><span class="product-category"> {{ producto.categoria }} </span></a>
                        {% if producto.disponibilidad %}
                            <span class='stock'> Stock <ion-icon name="checkmark-circle-outline"></ion-icon> </span>
                        {% else %}
                            <span class='no-stock'> Stock <ion-icon name="close-circle-outline"></ion-icon></span>
                        {% endif %}
                    </div>
                </div>
                <!-- <button>Agregar al carrito</button> -->
                <a href="{% url 'carrito:agregar' producto.id %}" class="btn_card">Agregar al carrito</a>
            </div>
            
        {% endfor %}
    </div>
      
{% endblock %}