.productos_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-card {
  display: grid;
  width: 300px;
  margin: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  

}

/* CARD HEADER */
.product-card .product-header{
  height: 250px;
}
.product-card .product-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 10px;
}
  
.product-card .product-header a{
  text-decoration: none;
  font-style: bold;
}
.product-card .product-header a:hover{
  text-decoration: underline greenyellow;
  transition: 0.5s;
}
.product-card .product-header h3 {
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
}

/* CARD BODY */

.product-card .product-body{
  padding: 10px;
  margin-top: 15px;
  justify-content: space-between;
}

.product-card .product-body p {
  margin: 5px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: green;
}
  
.product-card .product-body .cat-stock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.product-card .product-body .cat-stock a{
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.product-card .product-body .cat-stock span{
  color: rgb(187, 187, 187);
  font-size: 1rem;
  font-weight: 600;
}
.product-card .product-body .product-category:hover{
  text-decoration: underline;
  

}
.product-card .product-body .cat-stock span ion-icon{
  font-size: 20px;
  margin-right: 5px;
}

.product-card .product-body .cat-stock .stock ion-icon{
  color: greenyellow
}
.product-card .product-body .cat-stock .no-stock ion-icon{
  color: red
}

/* BUTTON "AGREGAR AL CARRITO" */
.product-card .btn {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: green 2px solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
  text-decoration: none;
}
  
/*Hovers*/
.product-card .btn:hover {
  color: #000;
  border: none;
  background-color: greenyellow;
}

.product-card:hover{
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgb(242, 250, 255);
  -webkit-box-shadow: 0px 0px 9px 0px rgb(242, 250, 255);
  -moz-box-shadow: 0px 0px 9px 0px rgb(242, 250, 255);
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}
