/* Search bar */
.search_bar {
width: 30%;
height: auto;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-shrink: 1;
margin-right: 300px;
}

.search_bar input[type=search] {
width: 160px;
padding: 8px 20px 8px 45px;
border: #fff solid 2px;
font-size: 18px;
border-radius: 25px;
background-position: 2% 50%;
background-repeat: no-repeat;
background-size: 30px;
background-image: url('search.svg');
background-color: transparent;
transition: 0.5s all ease-in-out;
filter: brightness(170%);
}

.search_bar input[type=search]:focus,
.search_bar input[type=search]:not(:placeholder-shown) {
width: 350px;
background-color: #fff;
filter: brightness(100%);
}

  /* Form */
.sub_menu {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 35px;
   
}

.sub_menu label {
    color: #fff;
    font-size: 18px;
    margin: 15px;
}
.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 350px;
}


.sub_menu select {
    background-color: transparent;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 200px;
}
.sub_menu select:focus{
    background-color: #fff;
    color: #000;
}
.sub_menu select option{
    color: #000;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 200px;
    transition: background-color 0.3s ease;
}
.sub_menu select option:checked{
    background-color: #a8a8a8;
}
select option:hover {
    background-color: #f2f2f2; /* color de fondo para la opción cuando se hace hover */
  }



.sub_menu button[type="submit"] {
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
    padding: 10px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out
}
.sub_menu button[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}

/*Index - Publicaciones*/
.posts_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Posteos que NO contienen imagenes */
/* 
.post_simple{
    width: 30%;
    height: auto;
    margin: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    padding: 12px;
}

.post_simple h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.post_simple p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}
.post_simple h3{
    color: gray;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
} */
/* Posteos que contienen imagenes */
.post_w_img{
    width: 350px;
    display: grid;
    height: 300px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
}

.post_header{
    width: auto;
    height: auto;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.post_card_body{
    padding: 10px;
}
.post_card_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.post_card_content{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.post_card_body h3{
    color: gray;
    font-size: 14px;
    font-weight: 400;
    /* margin-bottom: 10px; */
    text-align: center;
}
.post_w_img .post_card_category{
    display: flex;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

