<div class="sub_menu">
    <div class="dropdown">
        <select onchange="location = this.value;">
            <option value="{% url 'Tienda' %}">Filtrar categorías...</option>
            {% for categoria in categorias %}
                {% if categoria.id == categoria_id %}
                    <option value="{% url 'Categoria' categoria.id %}" selected>{{ categoria.nombre }}</option>
                {% else %}
                    <option value="{% url 'Categoria' categoria.id %}">{{ categoria.nombre }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    {% include 'tienda/widgets/widget_icon_carro.html' %}
  
    <form method="get" action="{% url 'Search' %}">
        <div class="search_bar">
            <input type="search" name="search" id="search" placeholder="Buscar...">
        </div>
    </form>
</div>