body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/back_blue.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Scroll bar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #054C75 #000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  /* border-radius: 4px; */
  background-color: #000;
}

/* *::-webkit-scrollbar-track:hover {
  background-color: #BCBCBC;  
} */

/* *::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
} */

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #054C75;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0093BF;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

/* Titulo principal */
.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}


 

 
 
/* Introduccions */
.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 65%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: #14213D;
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}


/* Mensje "Compromiso Total" */
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background-color: rgba(255, 255, 255, 0.486); */
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: #14213D;
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px 1px #fff;
  animation: breathe 1s ease-in-out infinite;
  
}
@keyframes breathe {
  0% {
    box-shadow: 0px 0px 2px 1px #00e6e6;
  }
  10% {
    box-shadow: 0px 0px 4px 1px #00e6e6;
  }
  20% {
    box-shadow: 0px 0px 6px 1px #00e6e6;
  }
  30% {
    box-shadow: 0px 0px 8px 1px #00e6e6;
  }
  40% {
    box-shadow: 0px 0px 10px 1px #00e6e6;
  }
  50% {
    box-shadow: 0px 0px 12px 1px #00e6e6;
  }
  60% {
    box-shadow: 0px 0px 10px 1px #00e6e6;
  }
  70% {
    box-shadow: 0px 0px 8px 1px #00e6e6;
  }
  80% {
    box-shadow: 0px 0px 6px 1px #00e6e6;
  }
  90% {
    box-shadow: 0px 0px 4px 1px #00e6e6;
  }
  100% {
    box-shadow: 0px 0px 2px 1px #00e6e6;
  }
}
.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.151);
}







.footer {
  background-color: #14213D;
  

}


.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.logo1{
  margin-top: -48px;
  max-width: 150px;
  margin-bottom: -85px;
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.logo2{
  margin-top: 85px;
  max-width: 200px;
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.docs{
  margin-bottom: -90px;
}
 