.log {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
    right: 0px;
    top:0;
  }
  
  .log .dropdown {
    position: relative;
  }
  
  .log .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px; /* Ajusta el ancho según tus necesidades */
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px greenyellow;
    z-index: 1;
  }
  
  .log .dropdown.show .dropdown-content {
    display: block;
  }
  
  .log .btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: green solid 2px;
    transition: 0.3s all ease-in-out;
  }
  
  .log .btn:hover,
  .log .btn.active {
    border: greenyellow solid 2px;
    box-shadow: 0 0 5px greenyellow, 0 0 15px greenyellow;
  }
  
  .log .btn svg {
    width: 25px;
    height: 25px;
    transition: 0.3s all ease-in-out;
  }
  
  .log .btn svg path,
  .log .btn svg circle {
    fill: green;
    transition: 0.3s all ease-in-out;
  }
  
  .log .btn:hover svg,
  .log .btn:hover svg path,
  .log .btn:hover svg circle,
  .log .btn.active svg path,
  .log .btn.active svg circle {
    fill: greenyellow;
  }
  