@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
#last_posts {
  color:white; 
  text-align:center;
  margin:20px
}
  .slide-container{
    max-width: 1000px;
    height: 400px;
    width: 100%;
    padding: 40px 0;
    
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    height: 400px;
  }

  
  .swiper-navBtn{
    color: greenyellow;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: greenyellow;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: rgb(2, 73, 14);
    /* color: green; */
    /* opacity: 0.5; */
  }
  .swiper-pagination-bullet-active{
    background-color: greenyellow;
    color: greenyellow;
  }
  
.post_w_img{
  width: 350px;
  display: grid;
  height: 360px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}

.post_header{
  width: auto;
  height: 175px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.post_header img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

}
.post_card_body{
  padding: 10px;
  height: 160px;
}
.post_card_body .postcategory{
  text-decoration: none;
}
.post_card_body .viewpost{
  text-decoration: none;
  color: #000;
}
.post_card_body .viewpost:hover{
  color: #1d1d1d;
  /* animation */
  text-decoration: underline;
  transition: 0.5s all ease-in-out;

}
.post_card_title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.post_card_content{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.post_card_footer h3{
  color: gray;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.post_card_footer .post_card_category{
  display: flex;
  color: gray;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}
.post_card_footer{
  width: 100%;
  height: 25px;
  margin: -40px 5px;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }