{% load static %}
<html>
  <head>
    <!-- Base -->
    <link href="{% static 'webProject_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'webProject_app/css/base.css' %}" rel="stylesheet">
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Nav -->
    <link href="{% static 'webProject_app/css/nav_btn.css' %}" rel="stylesheet">
    <!-- Log -->
    <link href="{% static 'webProject_app/css/log.css' %}" rel="stylesheet">
    
    
    {% block css_file %}{% endblock %}

    {% block title %}
    {% endblock %}
  </head>

  <body>
    
        <div class="log">
          <div class="dropdown">
            {% if user.is_authenticated %}
              <p>Hola!, <strong>{{user.username}}</strong></p>
              <a class="btn"  id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"/><path d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"/></svg>
            </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a href="{% url 'Create_Post' %}" class="dropdown-item" >Crear Post</a></li>
                <li><a href="{% url 'Logout' %}" class="dropdown-item" >Cerrar sesión</a></li>
              </ul>
            {% else %}
              <p>Accede a tu cuenta</p>
              <a class="btn"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"/><path d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"/></svg>
              </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a href="{% url 'Login' %}" class="dropdown-item" >Iniciar sesión</a></li>
                  <li><a href="{% url 'Auth'%}" class="dropdown-item" >Registrarse</a></li>
                </ul>
            {% endif %}
          </div>
        </div>


        <h1 class="site-heading text-center text-white d-none d-lg-block">
          <span class="site-heading-lower">Demo Dev</span>
        </h1>
      
        <div class="navigation">
          <span class="flecha_deco">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </span>
          <ul>
            <li class="list {% if request.path|slice:':8' == '/tienda/' or request.path|slice:'9' == '/pedidos/' %}active{% endif %}" data-url="{% url 'Tienda' %}">
              <a href="{% url 'Tienda' %}">
                  <span class="icon">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                  </span>
                  <span class="text">Tienda</span>
              </a>
            </li>
            <li class="list {% if request.path == '/servicios/' %}active{% endif %}" data-url="{% url 'Servicios' %}">
              <a href="{% url 'Servicios' %}">
                <span class="icon">
                  <ion-icon name="build-outline"></ion-icon>
                </span>
                <span class="text">Servicios</span>
              </a>
            </li>
            <li class="list {% if request.path == '/' or request.path|slice:'6' == '/auth/' %}active{% endif %}" data-url="{% url 'Home' %}">
              <a href="{% url 'Home' %}">
                  <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                  </span>
                  <span class="text">Inicio</span>
              </a>
            </li>
            
            <li class="list {% if request.path == '/contacto/' %}active{% endif %}" data-url="{% url 'Contacto' %}">
              <a href="{% url 'Contacto' %}">
                  <span class="icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                  </span>
                  <span class="text">Contacto</span>
              </a>
            </li>
            <li class="list {% if request.path|slice:':6' == '/blog/' %}active{% endif %}" data-url="{% url 'Blog' %}">
              <a href="{% url 'Blog' %}">
                  <span class="icon">
                    <ion-icon name="newspaper-outline"></ion-icon>
                  </span>
                  <span class="text">Blog</span>
              </a>
            </li>
            <div class="indicator"></div>
          </ul>
          <span class="flecha_deco">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </span>
        </div>
 
        <!-- Termino de nav desktop -->
       
        

    <!-- Contentido cambiante  -->
    {% block content %}
    {% endblock %}

     




      <!-- Nav script -->
      <script src="{% static 'webProject_app/js/nav_script.js' %}"></script>
      
      <!-- Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="{% static 'webProject_app/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'webProject_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
     
      {% block script_file %}{% endblock %}
      <!-- ionicons -> iconos del nav -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

      {% block javascript %}
  <script>
    const viewName = "{{ view_name }}";
  </script>
{% endblock %}


  </body>


</html>