{% load static %}
<html>
  <head>

      <!-- Bootstrap -->
      <link href="{% static 'webProject_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"> -->

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      
      <!-- Styles -->
      <!-- Base -->
      <link href="{% static 'webProject_app/css/base.css' %}" rel="stylesheet">
      <link href="{% static 'webProject_app/css/nav_btn.css' %}" rel="stylesheet">
      <!-- Home -->
      <link href="{% static 'webProject_app/css/slider.css' %}" rel="stylesheet">
      <link href="{% static 'webProject_app/css/swiper-bundle.min.css' %}" rel="stylesheet">
      <!-- Servicios -->
      <link href="{% static 'servicios/css/servicios.css' %}" rel="stylesheet">
      <!-- Blog -->
      <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
      <!-- Contacto -->
      <link href="{% static 'contacto/css/form.css' %}" rel="stylesheet">
      {% block title %}
      {% endblock %}
  </head>

  <body>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
          <span class="site-heading-lower">Demo Dev</span>
        </h1>
      
        <div class="navigation">
          <span class="flecha_deco">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </span>
          <ul>
            <li class="list {% if request.path == '/tienda/' %}active{% endif %}" data-url="{% url 'Tienda' %}">
              <a href="{% url 'Tienda' %}">
                  <span class="icon">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                  </span>
                  <span class="text">Tienda</span>
              </a>
            </li>
            <li class="list {% if request.path == '/servicios/' %}active{% endif %}" data-url="{% url 'Servicios' %}">
              <a href="{% url 'Servicios' %}">
                <span class="icon">
                  <ion-icon name="build-outline"></ion-icon>
                </span>
                <span class="text">Servicios</span>
              </a>
            </li>
            <li class="list {% if request.path == '/' %}active{% endif %}" data-url="{% url 'Home' %}">
              <a href="{% url 'Home' %}">
                  <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                  </span>
                  <span class="text">Inicio</span>
              </a>
            </li>
            
            <li class="list {% if request.path == '/contacto/' %}active{% endif %}" data-url="{% url 'Contacto' %}">
              <a href="{% url 'Contacto' %}">
                  <span class="icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                  </span>
                  <span class="text">Contacto</span>
              </a>
            </li>
            <li class="list {% if request.path|slice:':6' == '/blog/' %}active{% endif %}" data-url="{% url 'Blog' %}">
              <a href="{% url 'Blog' %}">
                  <span class="icon">
                    <ion-icon name="newspaper-outline"></ion-icon>
                  </span>
                  <span class="text">Blog</span>
              </a>
            </li>
            <div class="indicator"></div>
          </ul>
          <span class="flecha_deco">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </span>
        </div>
 
        <!-- Termino de nav desktop -->
       


    <!-- Contentido cambiante  -->
    {% block content %}
    {% endblock %}

      <!-- Footer -->
      <!-- <footer class="footer text-faded text-center py-5">
        <div class="container">
          <p class="m-0 mbt">
            <a href="{% url 'Home' %}" class="link logos">
              <img src="{% static 'webProject_app/img/logo4.png' %}" alt="Logo" class="logo1">
              <img src="{% static 'webProject_app/img/NAME.png' %}" alt="Logo" class="logo2">
            </a>
            <a href="" class="link docs">Política de privacidad</a> ·
            <a href="" class="link docs">Aviso legal</a> ·
            <a href="" class="link docs">Cookies</a>
          </p>
        </div>
    </footer> -->
      <!-- My script -->
      <!-- Nav script -->
      <script src="{% static 'webProject_app/js/nav_script.js' %}"></script>
      <!-- Slider script -->
      <script src="{% static 'webProject_app/js/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'webProject_app/js/slider_script.js' %}"></script>
      <!-- Bootstrap -->
      <script src="{% static 'webProject_app/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'webProject_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script> -->
      
      
      <!-- ionicons -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

      {% block javascript %}
  <script>
    const viewName = "{{ view_name }}";
  </script>
{% endblock %}


  </body>


</html>