{% extends './base.html' %} <!-- hereda de la plantilla base.html-->

{% load static %}



{% block content %}

    <!-- Carrousel -->
    
    <h1 id="last_posts">Últimos posteos</h1>
      <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
             
            {% for post in latest_posts %}
            {% if post.imagen %}
                    <!-- <div class=""> -->
                      <div class="card swiper-slide post_w_img">
                          <div class="post_header">
                                  <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="card_img">
                          </div>
                          <div class="post_card_body">
                              <a href="{% url 'view_post' post.id %}"class='viewpost'><h2 class="post_card_title">{{ post.titulo }}</h2></a>
                              <p class="post_card_content">{{ post.contenido|truncatechars:100 }}</p>
                            </div>
                            <div class="post_card_footer">
                              <h3>Creado por {{ post.autor }}</h3>
                              {% for categorias in post.categoria.all %}
                                  <a href="{% url 'categoria' categorias.id %}" class="postcategory"><span class="post_card_category">{{ categorias.nombre }}</span></a>
                              {% endfor %}
                            </div>
                      </div>
                    <!-- </div> -->
                  {% else %}
                    <!-- <div class="card swiper-slide"> -->
                      <div class="card swiper-slide post_w_img">
                          <div class="post_header">
                                  <img src="{% static 'blog/img/post_sin_img.jpg' %}" alt="{{ post.titulo }}" class="card_img">
                          </div>
                          <div class="post_card_body">
                              <a href="{% url 'view_post' post.id %}"class='viewpost'><h2 class="post_card_title">{{ post.titulo }}</h2></a>
                              <p class="post_card_content">{{ post.contenido|truncatechars:100 }}</p>
                            </div>
                            <div class="post_card_footer">
                              <h3>Creado por {{ post.autor }}</h3>
                              {% for categorias in post.categoria.all %}
                                  <a href="{% url 'categoria' categorias.id %}" class="postcategory"><span class="post_card_category">{{ categorias.nombre }}</span></a>
                              {% endfor %}
                            </div>
                      </div>
                    <!-- </div> -->
                  {% endif %}
                {% endfor %}
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
      <!-- End slider  -->


    <!-- Heading -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'webProject_app/img/blog_wallpaper.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-upper">Actualidad</span>
              <span class="section-heading-lower">Mantente informado</span>
            </h2>
            <p class="mb-3">Con nuestra sección Blog, lee noticias actualizadas, tips, informes y más contenido sobre diferentes categorías como hardware,software, ilustración y más.</p>
          
          </div>
        </div>
      </div>
    </section>


    
      <!-- Message -->
      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Compromiso total</span>
                  <span class="section-heading-lower">Garantizado</span>
                </h2>
                <p class="mb-0">Ponte en contacto con nosotros sin compromiso alguno. Intentaremos resolver cada una de tus dudas y consultas para que puedas estar informado en todo momento sobre nuestros servicios.</p>
              </div>
            </div>
          </div>
        </div>
      </section>


  
{% endblock %}