{% extends './base.html' %} <!-- hereda de la plantilla base.html-->

{% load static %}



{% block content %}
    <!-- Carrousel -->
    <h1 style="color:white; text-align:center">Ultimos posteos</h1>
    <!-- {% for post in latest_posts %}
      <h1 style="color:white; text-align:center">{{post.titulo}}</h1>
    {% endfor %} -->
 
    <!-- Heading -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'webProject_app/img/blog_wallpaper.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-upper">Actualidad</span>
              <span class="section-heading-lower">Mantente informado</span>
            </h2>
            <p class="mb-3">Con nuestra sección Blog, lee noticias actualizadas, tips, informes y más contenido sobre diferentes categorías como hardware,software, ilustración y más.</p>
          
          </div>
        </div>
      </div>
    </section>


    
      <!-- Message -->
      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Compromiso total</span>
                  <span class="section-heading-lower">Garantizado</span>
                </h2>
                <p class="mb-0">Ponte en contacto con nosotros sin compromiso alguno. Intentaremos resolver cada una de tus dudas y consultas para que puedas estar informado en todo momento sobre nuestros servicios.</p>
              </div>
            </div>
          </div>
        </div>
      </section>


  
{% endblock %}