{% extends '../webProject_app/base.html' %} <!-- hereda de la plantilla base.html-->


{% load static %}
{% block content %}
    <div class="sub_menu">
        <div class="dropdown">
            <select onchange="location = this.value;">
                <option value="{% url 'Blog' %}">Ver todas</option>
                {% for categoria in categorias %}
                    {% if categoria.id == categoria_id %}
                        <option value="{% url 'categoria' categoria.id %}" selected>{{ categoria.nombre }}</option>
                    {% else %}
                        <option value="{% url 'categoria' categoria.id %}">{{ categoria.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <form method="get" action="{% url 'buscar' %}">
            <div class="search_bar">
                <input type="search" name="search" id="search" placeholder="Buscar...">
            </div>
        </form>
    </div>
    <!-- Posteos -->
    
    <div class="posts_container">
        {% for post in posts %}
            {% if post.imagen %}
                <div class="post_w_img">
                    <div class="post_header">
                            <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="card_img">
                    </div>
                    <div class="post_card_body">
                        <h2 class="post_card_title">{{ post.titulo }}</h2>
                        <p class="post_card_content">{{ post.contenido }}</p>
                        <h3>Creado por {{ post.autor }}</h3>
                        {% for categorias in post.categoria.all %}
                                    <span class="post_card_category">{{ categorias.nombre }}</span>	
                                {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="post_w_img">
                    <div class="post_header">
                            <img src="{% static 'blog/img/post_sin_img.jpg' %}" alt="{{ post.titulo }}" class="card_img">
                    </div>
                    <div class="post_card_body">
                        <h2 class="post_card_title">{{ post.titulo }}</h2>
                        <p class="post_card_content">{{ post.contenido }}</p>
                        <h3>Creado por {{ post.autor }}</h3>
                        {% for categorias in post.categoria.all %}
                                    <span class="post_card_category">{{ categorias.nombre }}</span>	
                                {% endfor %}
                    </div>
                </div>
             
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}