{% extends '../webProject_app/base.html' %}

{% load static %}
{% block css_file %}
{{ block.super }}
<link href="{% static context.css_file %}" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="containerForm">

    <h1 id= "user_title" > Bienvenido <strong>{{user.username}}</strong></h1>
    <p id="create_post" > Aquí puedes crear tu Post</p>
    
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %} 
            <div class="titulo">
                <h3>Título</h3>
                <input type="text" name="titulo" class="form-control" id="exampleFormControlInput1" placeholder="Titulo del post..." value="{{ titulo }}">
            </div>
            <div class="drop_img">
                <div class="dropdown">
                    <select name="categoria">
                        <option>Categoría del Post...</option>
                        {% for categoria in categorias %}
                        {% if categoria.id == categoria_id %}
                        <option value="{{ categoria.id }}" selected>{{ categoria.nombre }}</option>
                        {% else %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="inputImage">
                    <input name="imagen" type="file" accept="image/*" max="5242880" enctype="multipart/form-data" class="form-control" id="inputGroupFile02">
                    
                    <span>- La imágen no debe superar los <strong>5 MB</strong>.</span>
                    {% if error_message %}
                        <p class="error-message" >{{ error_message }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="contenido">
                <h3>Contenido</h3>

                <textarea class="form-control" name="contenido" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe aquí el contenido de tu posteo...">{{ contenido }}</textarea>
            </div>
            
            <div class="button">
                <input type="submit" value="Crear Post"/>
            </div>
        </form>
        
        
</div>
{% endblock %}