{% extends '../webProject_app/base.html' %} <!-- hereda de la plantilla base.html-->


{% load static %}
{% block content %}
    <div class="sub_menu">
        <div class="dropdown">
            <select onchange="location = this.value;">
                <option value="">Filtrar categorías...</option>
                <option value="{% url 'Blog' %}">Ver todas</option>
                {% for categoria in categorias %}
                    {% if categoria.id == categoria_id %}
                        <option value="{% url 'categoria' categoria.id %}" selected>{{ categoria.nombre }}</option>
                    {% else %}
                        <option value="{% url 'categoria' categoria.id %}">{{ categoria.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <form method="get" action="{% url 'buscar' %}">
            <div class="search_bar">
                <input type="search" name="search" id="search" placeholder="Buscar...">
            </div>
        </form>
    </div>
    <!-- Ver posteo completo -->
    <div class="post_index">
        <div class="post_index_header">
            <img src="{% static 'blog/img/post_header_index.jpg' %}" alt="imagen_post">
        </div>
        <div class="post_index_content">
            <h3>{{post.titulo}}</h3>
            <span>Creado por {{post.autor}} - {{ post.created|date:"d M Y" }}</span>
            <p>{{post.contenido}}</p>
            <span class="last_updated">Última actualización {{ post.updated|date:"d M Y" }}</span>
        </div>

    </div>
{% endblock %}
