{% extends '../webProject_app/base.html' %}

{% load static %} 

{% block css_file %}
    {{ block.super }}
    <link href="{% static context.css_file %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <h2>Inicia Sesión</h2>
        <div class="input-box">
            <input type="{{ form.username.field.widget.input_type }}"
                   name="{{ form.username.html_name }}"
                   id="{{ form.username.auto_id }}"
                   class="{{ form.username.field.widget.attrs.class }}"
                   {% if form.username.value %}value="{{ form.username.value }}"{% endif %}
                   {% if form.username.field.required %}required{% endif %}
                   placeholder="Nombre de usuario">
        </div>
        
        <div class="input-box">
            <input type="{{ form.password.field.widget.input_type }}"
                   name="{{ form.password.html_name }}"
                   id="{{ form.password.auto_id }}"
                   class="{{ form.password.field.widget.attrs.class }}"
                   {% if form.password.value %}value="{{ form.password.value }}"{% endif %}
                   {% if form.password.field.required %}required{% endif %}
                   placeholder="Contraseña">
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <button type="submit">Iniciar sesión</button>

        <div class="log-cont">
            <p>¿No tienes una cuenta? <a href="{% url 'Auth' %}">Registrate</a></p>
        </div>
    </form>
{% endblock %}
