{% extends '../webProject_app/base.html' %}

{% load static %} 

{% block css_file %}
{{ block.super }}
    <link href="{% static context.css_file %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <form  method="POST" class="formLogin"> 
        {% csrf_token %}
                <span class="text-center"><h3 data-text="Login">Login</h3></span>
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
                <input type="submit" class="btn" value="Log in">
        </form>
    </div>
{% endblock %}
